# For server side api
fastapi==0.95.2
uvicorn==0.22.0
redis==4.5.5

# For calculate_co2 module
requests
geopy
schedule

# For linting
black
ruff

# For type checking
mypy
types-PyYAML
types-colorama
types-redis
types-requests
types-ujson

# For testing
pytest