# For database
redis

# For carbon calculation
requests
geopy
schedule

# For linting
black
ruff

# For type checking
mypy
types-PyYAML
types-colorama
types-redis
types-requests
types-ujson

# For testing
pytest